body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f8f9fa;
}

.btn {
    width: 100%;
    margin: 2px;
    font-size: 24px;
    font-weight: bold;
}

.btn-group {
    width: 100%;
}

#Output{
font-size: 25px;
}